#logo{
  width: 4vw;
}
nav{
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  height: 8vw;
}
.nav-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav img{
  
}
.water-mark-logo{
  display:none;
}
.hamburger-close{
  display: none;
}
.hamburger-open{
  display: none;
}
.nav_ul{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav_ul li{
  font-family: var(--ff-rale);
  color: var(--black);
  margin-right: 4vw;
  font-weight: 600;
  font-size: var(--s)
}

/* WEB MVP FORM.................. */
.web-mvp{
  display: none;
  background-color: var(--text-inactive);
  backdrop-filter: blur(3px);
  top: 0;
  position: sticky;
  padding: 0vw 13vw;
  height: 100%;
  z-index: 1000;
}
.web-mvp-wrapper{
  display: flex;
  max-height: 50vw;
  height: 100%;
  width: 100%;
}
.web-mvp-form{
  background-color: var(--white);
  padding: 4vw;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.web-mvp-form h2{
  line-height: 3.7vw;
  width: 30vw;
}
.web-mvp-form p{
  margin-top: .2vw;
  width: 25vw;
}
.web-mvp-form form{
  display: flex;
  flex-direction: column;
}
.web-mvp-form label{
  margin-top: 1vw;
  margin-bottom: .6vw;
}
.web-mvp-form input{
  height: 4vw;
  outline: none;
}
.web-mvp-form select {
  height: 4vw;
}
.close-btn{
  cursor: pointer;
  position: absolute;
  top: 1vw;
  right: 1vw
}
.web-mvp-form-btn{
  margin-top: 1.4vw;
}
.web-mvp-img{
  width: 50%;
  /* height: 100%; */
  height: auto;
  background-color: var(--cyan);
}
.web-mvp-img .web-mvp-img{
  width: 80%;
  height: 100%;
  background-color: var(--cyan);
}
/* LANDING......................... */
.landing{
  width: 100%;
  height: 45vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing-text{
  font-family: var(--ff-noto);
  color: var(--black);
  line-height: 4.7vw;
  /* font-size: var(--xl); */
}
.landing-text-p{
  padding: 0 10vw;
}
.landing-wrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1vw;
}

.alert-pop-up{
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--white);
  position: absolute;
  right: 5vw;
  top: -4.5vw;
  width: 13vw;
  height: 7vw;
  background-color: var(--black);
  padding: 1vw;
  border: 1px solid var(--black);
  visibility: hidden;
  opacity: 0;
}
/* .alert-pop-up::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: var(--black) var(--black) var(--black) var(--black);
} */
.alert-div:hover .alert-pop-up{
  opacity: 1;
  visibility: visible;
}
/* PARTNERS */
.partners{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.partners img{
  width: 70vw
}

/* PROBLEM */
.problem{
  height: 40vw;
}
.problem-wrapper{
  overflow: hidden;
  position: relative;
  background-color: var(--main-green);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.problem-wrapper img{
  position: absolute;
  left: 0;
  bottom: -25vw;
}
.problem-text{
  margin-top: 7vw;
  width: 60vw;;
  font-size: calc(var(--l) - 8px);
  text-align: center;
}
.problem-ani{
  border-bottom: 2px solid var(--white);
}
/* PROBLEM */

/* HOW IT WORKS */
.how-it-works{
  height: 45vw;
  display: flex;
  flex-direction: column;
}
.how-it-works-animation-img{
  width: 20vw;
  height: 100%;
}
.how-it-works-animation-text{
  text-align: center;
  font-size: var(--s);
  color: var(--black);
  font-family: var(--ff-rale);
}
.how-it-works-wrapper{
  height: 100%;
  display: flex;
}
.how-it-works-cards{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: end;
  align-items: center;
}

.how-it-works-animation{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* TESTIMONIAL */
.testimonial{
  font-style: italic;
  padding: 6vw;
}

/* ALL IN ONE */
.all-in-one{
  height: 49vw;
  display: flex;
}
.all-in-one-text{
  width: 50%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
.all-in-one-title{
  line-height: 4vw
}
.all-in-one-body{
  width: 30vw;
  line-height: 2.5vw;;
}
.all-in-one-cards{
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

/* FAQs */
.faq{
  height: 40vw;
  display: flex;
}
.faq-questions-wrapper{
  height: 20vw;
}
.faq-question{
 justify-content: space-between ;
 width: 100%;
 transition: .2s;
}
.faq-question p{
  font-weight: 600;
}
.faq-question img{
  width: 1.4vw;
}
.faq-question :hover{
  transform: scale(1.1);
  transition: .2s
}
.question.active .faq-answer{
  max-height: 10vw;
}
.question.active img{
  transform: rotate(180deg);
  transition: .4s;
}
.question img{
  transition: .4s;
}
.faq-answer{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-in;
}
.faq-answer p{
line-height: 2vw;;
}
.faq-text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7vw;

}
.faq-questions{
  width: 50%;
  height: 100%;
}
.question{
  display: flex;
  gap: 0.7rem;
  width: 38vw;
  margin-top: 2.6vw;
  cursor: pointer;
  padding-bottom: .3vw;
  margin-right: 5vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  flex-direction: column;
}
/* MVP */
.mvp{
  height: 40vw;
}
.mvp img{
  width: 30vw;
}
.amazon-dark{
  width: 18vw;
  margin-top: 1vw
}
.mvp-text{
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  color: var(--black)
}
.mvp-text p{
  width: 30vw;
}
.mvp-text h1{
  line-height: 4.9vw;
}
.amazon-btn{
  width: 20vw;
  margin-top: 2vw;
}
.amazon-light{
  display: none;
}
/* BANNER */
.banner{
  height: 33vw;
}
.banner-wrapper{
  padding: 2vw 4vw;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  background-color: var(--main-green)
}
.banner-wrapper h2{
  line-height: 4.9vw;
  margin-bottom: 2vw;
}
.banner-img{
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text{
  width: 60%;
}
.banner-text h2{
  font-size: calc(var(--l) - 2px);
  line-height: 1.2;
}

/* FOOTER */
footer{
  height: 30vw;
  display: flex;
  align-items: center;
}
.footer-wrapper{
  color: var(--black);
}
.footer-wrapper ul{
  list-style: none;
  text-align: start;
  padding: 0;
  font-weight: 500;
}
.footer-wrapper ul li{
  margin-top: 1vw;
  cursor: pointer;
}
.social{
  margin-left: 3vw;
}



/* HELP CENTER */
.help{
  height: 77vw;
}
.help-body{
  display: flex;
}
.help-heading{
  margin-bottom: 3vw;
}
.help-contact{
  width: 50%;
}
.help-faq{
  width: 50%;
  
}
.help-contact-wrapper{
  width: 34vw;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background-color: var(--cyan-rect);
}
.help-contact-wrapper form{
  display: flex;
  flex-direction: column;
}
.help-contact-wrapper form label{
  margin-top: 1.3vw;
  margin-bottom: .4vw;
}
.help-contact-wrapper form input{
  height: 3.4vw;
  outline: none;
}
.help-contact-wrapper form textarea{
  resize: none;
  outline: none;
}
.help-contact-wrapper form button{
  margin-top: 1.3vw; 
}


/* WHY AISELY */
.why-aisely{

}
.why-aisely-img{
  width: 40vw;
}
.why-aisely-card{
  padding: 4vw;
  border: 1px solid black;
  height: 40vw;
  display: flex;
  margin-bottom: 2vw;
}
.why-aisely-card-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.why-aisely-card-heading{
  line-height: 5vw;
  margin-bottom: 1vw;
}
.why-aisely-card-img img{
  width: 25vw;
}
.why-aisely-card-img{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}














/* MEDIA QUERIES */
@media (max-width: 700px) {
  .water-mark-logo{
    display: block;
  }
  .close-btn{
    width: 10vw;
    top:3vw;
    right:3vw;
  }
  .web-mvp{
    padding: 6vw;
    z-index: 1000;
    height: auto;
  }
  .web-mvp-wrapper{
    flex-direction: column-reverse;
    max-height: none;
    height: auto;
  }
  .web-mvp-form{
    width: 100%;
    height: 100%;
  }
  .web-mvp-form input{
    height: 15vw;
  }
  .web-mvp-form select {
    height: 15vw;
  }
  .web-mvp-form label {
    margin-bottom: 3vw;
    margin-top: 6vw;
  }
  .web-mvp-form-btn{
    margin-top: 6vw;
  }
  .web-mvp-form h2{
    margin-top: 20vw;
    width: 100%;
    line-height: inherit;
  }
  .web-mvp-form p{
    width: 100%;
    line-height: inherit;
  }
  .web-mvp-img{
    display: none;
    width: 100%;
    height: auto;
  }
  .water-mark-logo{
    width:13vw;
    position: absolute;
    top: 7vw;
    left: 7vw;
  }

  /*  NAV MB */
  nav{
    display: none;
    background-color: var(--white);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    z-index: 1;
    right: -100vw;
    transition: 1s;
  }
  .nav-wrapper{
    padding: 5vw;
    display: block;
    width: auto;
  }  .nav_ul{
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0;
    margin-top: 5vw;
  }
  #logo{
    width: 13vw;
  }
  .hamburger-close{
    display: block;
    position: absolute;
    right: 7vw;
    top: 7vw;
    width: 10vw;
    cursor: pointer;
  }
  .hamburger-open{
    z-index: -1;
    display: block;
    position: absolute;
    right: 7vw;
    top: 7vw;
    cursor: pointer;
    width: 10vw;
  }
  .nav-btn{
    display: none;
  }
  /* LANDING MOBILE */
  .landing{
    height: 100vh;
  }

  /* LANDING MOBILE */
  .on-brand{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .landing-wrapper{
    width: 100%;
    gap: 9vw;
  }
  .landing-text{
    line-height: 13vw;
  }
  .landing-text-p{
    padding: 0;
  }
  /* LANDING MOBILE */

  /* PARTNERS MOBILE */
  .partners h2{
    text-align: center;
  }
  /* PARTNERS MOBILE */


  /* HOW IT WORKS MOBILE */
  .how-it-works{
    height: 200vw;
  }
  .how-it-works-animation{
    width: 100%;
  }
  .how-it-works-cards{
    width: 100%;
  }
  .how-it-works-wrapper{
    flex-direction: column-reverse;
  }

  /* ALL IN ONE MOBILE */
  .all-in-one{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .all-in-one-text{
    width: 100%;
  }
  .all-in-one-cards{
    width: 100%;
  }
  .all-in-one-body{
    width: 100%;
    line-height: inherit;
  }
  .all-in-one-title{
    line-height: 10vw;
    text-align: center;
  }
  .all-in-one-body{
    text-align: center;
  }
  .all-in-one-cards{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .all-in-one-text{
    margin-bottom: 10vw;
  }
  .all-in-one-small-btn{
    display: none;
  }


  /* FAQ  MOBILE*/
  .faq-answer p{
    line-height: 7vw;
  }
  .question.active .faq-answer {
    max-height: 90vw;
  }
  .faq{
    height: auto;
    flex-direction: column;
    position: relative;
  }
  .faq-text{
    width: 100%;
    height: auto;
  }
  .faq-questions{
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .faq-question img{
    width: auto;
  }
  .faq-questions-wrapper{
    height: auto;
  }
  .faq-text-sec{
    /* display: none; */
    /* position: absolute; */
    /* bottom: 0; */
  }
  .question{
    width: 100%;
    margin-bottom: 10vw;
  }
  /* MVP MOBILE*/
  .mvp{
    height: 200vw;
    flex-direction: column-reverse;
    margin-top: 10vw;
    background-color: var(--main-green);
    justify-content: center;
    align-items: center;
  }
  .mvp-text{
    width: 100%;
    text-align: center;
    color: var(--white)
  }
  .mvp-text h2{
    line-height: 10vw;
  }
  .mvp-text p{
    width: auto;
  }
  .mvp img{
    width: 60vw;
    /* margin-top: 14vw; */
  }
.amazon-light{
  display:inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.amazon-dark{
  display: none;
}
  /* BANNER MOBILE */
  .banner{
    height: 100vw;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-wrapper{
    border: 1px solid red;
    text-align: center;
  }
  .banner-wrapper h2{
    line-height: 10vw;
    font-size: calc(var(--l) - 1px)
  }
  .banner-img{
    display: none;
  }
  .banner-text{
    width: auto;
  }
  /* FOOTER MOBILE */
  footer{
    height: 50vh;
  }





  /* PAGE */
  /* WHY AISELY  */
  .help-heading{
    margin-top: 30vw;
    flex-direction: column-reverse;
  }
  .why-aisely-card{
    border: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    height: 150vw;
    flex-direction: column-reverse;
  }
  .why-aisely-card-text{
    width: 100%;
    height: auto;
    text-align: center;
  }
  .why-aisely-card-heading{
    line-height: inherit;
    margin-bottom: 30px;;

  }
  .why-aisely-card-img{
    display: flex;
    display: none;
    align-items: center;
    width: 100%;
  }




  /* HELP MOBILE */
  .help{
    height: 500vw;
  }
  .help-body{
    flex-direction: column;
  }
  .help-contact{
    width: 100%;
    margin-top: 20px;
  }
  .help-contact-wrapper{
    width: 100%;
    padding: 5vw;
  }
  .help-contact-wrapper h1{
    text-align: center;
    margin-bottom: 10vw;
    font-size: var(--l)
  }
  .help-contact-wrapper form input{
    height: 17vw;
    font-size: var(--s);
  }
  .help-contact-wrapper form label{
    font-size: var(--s);
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .help-contact-wrapper form button{
    margin-top: 20px;
  }
  .help-faq{
    width: 100%;
    margin-top: 20vw;
  }
}