nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vw;
}
.nav_ul{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav_ul li{
  font-family: var(--ff-rale);
  color: var(--black);
  margin-right: 4vw;
  font-weight: 600;
  font-size: var(--s)
}

/* WEB MVP FORM.................. */
.web-mvp{
  display: none;
  background-color: var(--text-inactive);
  backdrop-filter: blur(3px);
  top: 0;
  position: sticky;
  padding: 4vw 13vw;
  height: 100vh;
}
.web-mvp-form{
  background-color: var(--white);
  padding: 4vw;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.web-mvp-form h2{
  line-height: 3.7vw;
  width: 30vw;
}
.web-mvp-form p{
  margin-top: .2vw;
  width: 25vw;
}
.web-mvp-form form{
  display: flex;
  flex-direction: column;
}
.web-mvp-form label{
  margin-top: 1vw;
  margin-bottom: .6vw;
}
.web-mvp-form input{
  height: 4vw;
  outline: none;
}


.web-mvp-img{
  width: 50%;
  height: 100%;
  background-color: var(--cyan);
}
/* LANDING......................... */
.landing{
  width: 100%;
  height: 45vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing-text{
  font-family: var(--ff-noto);
  color: var(--black);
  /* font-size: var(--xl); */
}
.landing-wrapper{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

/* PARTNERS */
.partners{
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.partners img{
  width: 70vw
}

/* HOW IT WORKS */
.how-it-works{
  margin-top: 5vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
}
.how-it-works-wrapper{
  height: 100%;
  display: flex;
}
.how-it-works-cards{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.how-it-works-animation{
  width: 50%;
  height: 100%
}

/* TESTIMONIAL */
.testimonial{
  font-style: italic;
  padding: 6vw;
}

/* ALL IN ONE */
.all-in-one{
  height: 49vw;
  display: flex;
}
.all-in-one-text{
  width: 50%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}
.all-in-one-title{
  line-height: 4vw
}
.all-in-one-body{
  width: 30vw;
  line-height: 2.5vw;;
}
.all-in-one-cards{
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

/* FAQs */
.faq{
  height: 40vw;
  display: flex;
}
.faq-text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7vw;

}
.faq-questions{
  width: 50%;
  height: 100%;
}
.question{
  width: 38vw;
  margin-top: 2.6vw;
  cursor: pointer;
  padding-bottom: .3vw;
  margin-right: 5vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black)
}
/* MVP */
.mvp{
  height: 40vw;
}
.mvp-text{
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.mvp-text h1{
  line-height: 4.9vw;
}
/* BANNER */
.banner{
  height: 33vw;
}
.banner-wrapper{
  padding: 2vw 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: var(--main-green)
}
.banner-wrapper h2{
  line-height: 4.9vw;
}

/* FOOTER */
footer{
  height: 30vw;
  display: flex;
  align-items: center;
}
.footer-wrapper{
  color: var(--black);
}
.footer-wrapper ul{
  list-style: none;
  text-align: start;
  padding: 0;
  font-weight: 500;
}
.footer-wrapper ul li{
  margin-top: 1vw;
  cursor: pointer;
}
.social{
  margin-left: 3vw;
}



/* HELP CENTER */
.help{
  height: 55vw;
}
.help-body{
  display: flex;
}
.help-heading{
  margin-bottom: 3vw;
}
.help-contact{
  width: 50%;
}
.help-faq{
  width: 50%;
  
}
.help-contact-wrapper{
  width: 34vw;
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  padding: 3vw;
  background-color: var(--cyan-rect);
}
.help-contact-wrapper form{
  display: flex;
  flex-direction: column;
}
.help-contact-wrapper form label{
  margin-top: 1.3vw;
  margin-bottom: .4vw;
}
.help-contact-wrapper form input{
  height: 3.4vw;
  outline: none;
}
.help-contact-wrapper form textarea{
  resize: none;
  outline: none;
}
.help-contact-wrapper form button{
  margin-top: 1.3vw; 
}


/* WHY AISELY */
.why-aisely{

}
.why-aisely-card{
  padding: 4vw;
  border: 1px solid black;
  height: 40vw;
  display: flex;
  margin-bottom: 2vw;
}
.why-aisely-card-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.why-aisely-card-heading{
  line-height: 5vw;
  margin-bottom: 1vw;
}
.why-aisely-card-img img{
  width: 25vw;
}
.why-aisely-card-img{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}